[Desktop Entry]
Version=1.0
Name=Fastmail
Comment=Fastmail Web App
Exec=omarchy-launch-webapp https://app.fastmail.com/
Terminal=false
Type=Application
Icon=Fastmail
StartupNotify=true
Categories=Network;Email;
