[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Messenger
Exec=omarchy-launch-webapp https://www.messenger.com/
Terminal=false
Type=Application
Icon=Messenger
StartupNotify=true
