[Desktop Entry]
Version=1.0
Name=Notebook LM
Comment=Notebook LM
Exec=omarchy-launch-webapp https://notebooklm.google.com/
Terminal=false
Type=Application
Icon=NotebookLM
StartupNotify=true
