[Desktop Entry]
Name=Wago Addon Manager
Exec=/home/$USER/Apps/Wago/Wago.AppImage
Icon=Wago
Type=Application
Categories=Game;Utility;
StartupWMClass=Wago
