[Unit]
Description=OpenWebUI (GPU - archtop)
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm \
    --net=host \
    -e PORT=3210 \
    -e WEBUI_AUTH=False \
    -e OLLAMA_BASE_URL=http://127.0.0.1:11434 \
    --gpus all \
    -v open-webui:/app/backend/data \
    --name open-webui \
    ghcr.io/open-webui/open-webui:cuda

ExecStop=/usr/bin/docker stop -t 2 open-webui

[Install]
WantedBy=multi-user.target
